<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your book is now available in the library. Please login to the system to check it out. 
    </p>
  </body>
</html>
