<%= stylesheet_link_tag "layout" %>
<div id="header">
<!--<h1>Library Management</h1>
</div>
<div id="nav">
<%#= link_to 'View Books', controller: 'books' %><br>
Add admins<br>
Checkout book<br>
Update profile<br>
Logout<br>
</div>-->

<div id="section">


</div>


